@model IEnumerable<lab1_var5.Models.Player>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container">
    <div class="database">
        <div class="left-part">
            <h5>Select options to find players</h5>
            <form method="post">
                <div class="select-option">
                    <div class="select-option__left">
                        <div class="label-position">Position:</div>
                    </div>
                    <select class="menu-position" name="position">
                        <option value="no">not selected</option>
                        <option value="C">C - center forward</option>
                        <option value="LW">LW - left forward</option>
                        <option value="RW">RW - right forward</option>
                        <option value="D">D - defender</option>
                        <option value="G">G - goalkeeper</option>
                    </select>
                </div>
                <div class="select-option">
                    <div class="select-option__left">
                        <div class="label-birthdate">Birth date:</div>
                    </div>
                    <div class="from-to">
                        <div class="label-from">from</div>
                        <input class="input-from" type="text" name="startBirthday" /><br />
                        <div class="label-to">to</div>
                        <input class="input-to" type="text" name="endBirthday" /><br />
                    </div>
                </div>
                <div class="select-option">
                    <div class="select-option__left">
                        <div class="label-weight">Weight:</div>
                    </div>
                    <div class="from-to">
                        <div class="label-from">from</div>
                        <input class="input-from" type="text" name="minWeight" /><br />
                        <div class="label-to">to</div>
                        <input class="input-to" type="text" name="maxWeight" /><br />
                    </div>
                </div>
                <div class="select-option">
                    <div class="select-option__left">
                        <div class="label-height">Height:</div>
                    </div>
                    <div class="from-to">
                        <div class="label-from">from</div>
                        <input class="input-from" type="text" name="minHeight" /><br />
                        <div class="label-to">to</div>
                        <input class="input-to" type="text" name="maxHeight" /><br />
                    </div>
                </div>
                <input type="submit" value="Find" />
            </form>
        </div>
        <div class="right-part">
            <table class="table">
                @if (Model != null)
                {
                    <tr>
                        <th>playerid</th>
                        <th>jersey</th>
                        <th>fname</th>
                        <th>sname</th>
                        <th>position</th>
                        <th>birthday</th>
                        <th>weight</th>
                        <th>height</th>
                        <th>birthcity</th>
                        <th>birthstate</th>
                        </tr>
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.playerid</td>
                            <td>@item.jersey</td>
                            <td>@item.fname</td>
                            <td>@item.sname</td>
                            <td>@item.position</td>
                            <td>@item.birthday</td>
                            <td>@item.weight</td>
                            <td>@item.height</td>
                            <td>@item.birthcity</td>
                            <td>@item.birthstate</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

